@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Countries</h1>
</div>

<div>

    <form asp-controller="Home" asp-action="SearchedCountry" method="get">
        <input type="hidden" id="CountryId" name="countryId" />
        <input type="text" id="Title" placeholder="Search" class="form-control" name="body" />
        <button type="submit" class="btn btn-outline-info">Hledat</button>
    </form>

    
</div>

@section Scripts {
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css" />
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>

    <script>
        $(function () {
            $("#Title").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '@Url.Action("Search", "Home")',
                        type: "GET",
                        dataType: "json",
                        data: { searchedCountry: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return {
                                    label: item.name,
                                    value: item.name,
                                    id: item.id
                                };
                            }));
                        }
                    });
                },
                select: function (event, ui) {
                    $("#Title").val(ui.item.label);
                    $("#CountryId").val(ui.item.id);

                    return false;
                }
            });
        });
    </script>
}